<style>
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
</style>
<template>
    <div class="page">
        <nav class='navbar navbar-dark bg-dark'>
            <div class='container'>
                <div class="d-flex justify-content-between align-items-center w-100">
                    <router-link :to="{ name: 'home' }" class="navbar-brand">Belanja</router-link>
                    <router-link :to="{ name: 'checkout'}">
                        <button type="button" class="btn btn-primary bg-none">
                            Checkout <span class="badge badge-light" id="counter">{{ counter }}</span>
                        </button>
                    </router-link>
                </div>
            </div>
        </nav>
        <router-view></router-view>
    </div>
</template>

<script>
  export default {
      data() {
        return {
          counter: 0
        }
      },
      created() {
        this.axios.get('/api/cart/counter').then(response => {
            this.counter = response.data;
        });
    },
  }
</script>