<template>
    <form @submit.prevent="checkout">
        <div class='container py-4'>
            <div class="row" v-if="(errors.length && carts.length > 0)">
                <div class="col-12">
                    <div class="alert alert-danger">
                        <b v-for="error in errors" :key="error">{{ error }}</b>
                    </div>
                </div>
            </div>
            <div class='row justify-content-center' v-if="carts.length > 0">
                <div class='col-md-7'>
                    <div class='card'>
                        <div class='card-header'>Checkout</div>
                        <div class='card-body'>
                            <div class='form-group'>
                                <label htmlFor='customer'>Nama Customer</label>
                                <input type="text" class="form-control" id="customer" v-model="customer">
                            </div>
                            <div class='form-group'>
                                <label htmlFor='address'>Alamat Kirim</label>
                                <textarea type="text" class="form-control" id="address" rows="5" v-model="address"></textarea>
                            </div>
                            <div class='form-group'>
                                <label htmlFor='note'>Catatan (optional)</label>
                                <textarea type="text" class="form-control" id="note" rows="3" v-model="note"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-5'>
                    <div class='card'>
                        <div class='card-body'>
                            <div v-for="(cart, index) in carts" :key="cart.id">
                                <div class="d-flex flex-wrap justify-content-between align-items-center">
                                    <img :src="cart.product.image" class="img-fluid" alt="" width="70px">
                                    <div class="mr-auto ml-3">
                                        <h4 class="mb-0">{{ cart.product.namaProduk }}</h4>
                                        <span>{{ cart.priceCurrency }}</span>
                                    </div>
                                </div>
                                <div class="w-100 d-flex justify-content-between align-items-center mt-3">
                                    <input type="number" class="form-control mr-3" v-model="cart.qty" value="0" min="0" readonly style="width: 200px;">
                                    <button class="btn btn-danger" type="button" @click = "deleteCart(cart.id, cart.qty)">Delete</button>
                                </div>
                                <hr v-if="(index + 1) != carts.length">
                            </div>
                        </div>
                        <div class="card-footer bg-white">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5>Total</h5>
                                </div>
                                <div class="text-right">
                                    <h5>{{ totalPrice }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-block btn-primary mt-3">Submit</button>
                </div>
            </div>
            <div class='row' v-else>
                <div class="col-12 text-center">
                    <svg id="_x31__x2C_5" height="320" viewBox="0 0 36 36" width="320" xmlns="http://www.w3.org/2000/svg"><path d="m4.167 27.623c0-6.917-3.583-11.667-3.583-15s1.916-10.333 17.249-10.333 17.583 9.417 17.583 13.083c.001 17.167-31.249 24.5-31.249 12.25z" fill="#efefef"/><path d="m5.375 2.25h1v2h-1z" fill="#a4afc1"/><path d="m2.125 5.25h2v1h-2z" fill="#a4afc1"/><path d="m26.56 14.75c1.34 0 2.3 1.29 1.91 2.58l-1.62 5.36c-.2.91-1.01 1.56-1.95 1.56h-10.53c-.95 0-1.76-.66-1.96-1.58l-1.78-7.92z" fill="#f3f3f1"/><path d="m28.957 12.957-3 3c-.181.181-.431.293-.707.293-.279 0-.531-.114-.712-.298l-4.212-4.048c-.356-.361-.575-.857-.575-1.404v-3.25c0-.276.224-.5.5-.5h3.25c.547 0 1.043.219 1.404.575l4.048 4.212c.184.181.298.434.298.712-.001.277-.113.527-.294.708z" fill="#2fdf84"/><path d="m14.66 22.67-1.78-7.92h-2.25l1.78 7.92c.2.92 1.01 1.58 1.96 1.58h2.25c-.95 0-1.76-.66-1.96-1.58z" fill="#d5dbe1"/><path d="m22.575 11.904c-.356-.362-.575-.857-.575-1.404v-3.25c0-.276.224-.5.5-.5h-2.25c-.276 0-.5.224-.5.5v3.25c0 .547.219 1.042.575 1.404l4.212 4.048c.181.184.434.298.712.298.276 0 .526-.112.707-.293l.41-.41z" fill="#00b871"/><path d="m24.9 25h-10.53c-1.308 0-2.415-.893-2.692-2.17l-2.32-10.336c-.128-.587-.632-.994-1.228-.994h-2.13v-1.5h2.13c1.308 0 2.415.893 2.692 2.17l2.319 10.335c.128.587.633.994 1.229.994h10.53c.582 0 1.094-.408 1.217-.97l1.165-5.186 1.464.329-1.165 5.182c-.271 1.242-1.399 2.146-2.681 2.146z"/><path d="m10.75 14h7.5v1.5h-7.5z"/><circle cx="15.5" cy="28.5" r="1.5"/><circle cx="23.5" cy="28.5" r="1.5"/><path d="m25.25 17c-.474 0-.916-.186-1.247-.523l-4.197-4.032c-.526-.533-.806-1.219-.806-1.945v-3.25c0-.689.561-1.25 1.25-1.25h3.25c.728 0 1.413.281 1.93.792l4.063 4.227c.321.316.507.759.507 1.231 0 .467-.182.907-.513 1.237l-3 3c-.329.331-.769.513-1.237.513zm-4.75-9.5v3c0 .33.128.642.359.878l4.198 4.033c.086.085.314.071.368.017l3.001-3c.027-.027.073-.087.073-.177 0-.091-.047-.151-.074-.179l-4.063-4.227c-.22-.218-.532-.345-.862-.345z"/></svg>
                    <h1 class="mt-3">Keranjang Kosong</h1>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
  export default {
      data() {
        return {
          carts: [],
          errors: [],
          customer: null,
          address: null,
          note: null,
          totalPrice: 0,
        }
      },
      created() {
        this.axios.get('/api/cart/all').then(response => {
            response.data.map(obj => {
                obj.priceCurrency = obj.price.toLocaleString('ID', {
                    style: 'currency',
                    currency: 'IDR',
                    maximumFractionDigits: 0
                });
            });
            
            let total = response.data.map(obj => {
                return obj.qty * obj.price;
            }).reduce(function(a, b) {
                return a + b;
            }).toLocaleString('ID', {
                style: 'currency',
                currency: 'IDR',
                maximumFractionDigits: 0
            });

            this.totalPrice = total;
            this.carts = response.data;
        });
    },
    methods: {
        deleteCart(id, qty)
        {
            this.$swal.fire({
                title: 'Apakah kamu yakin?',
                text: "Produk akan dihapus dalam keranjang",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Batal',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Hapus'
            }).then((result) => {
                if (!result.value) {
                    this.$swal.fire({
                        title: 'Success!',
                        text: 'Produk berhasil dihapus dari keranjang',
                        icon: 'success',
                        timer: 3000
                    });
                    let uri = `/api/cart/delete/${id}`;
                    this.axios.delete(uri).then(response => {
                        this.carts = this.carts.filter(item => {
                            return item.id != id;
                        });

                        let $counter = document.getElementById("counter");
                        let count = parseInt($counter.textContent);
                        $counter.innerHTML = count - qty;
                    });
                    console.log("Deleted cart with id ..." + id);
                }
            })
        },
        checkout(e){
            let transaksi = {
                customer: this.customer,
                address: this.address,
                note: this.note
            };

            this.errors = [];

            if (!this.customer || this.customer.length == 0) {
                this.errors.push('Nama customer tidak boleh kosong!');
                return;
            }

            if (!this.address || this.address.length == 0) {
                this.errors.push('Alamat kirim tidak boleh kosong!');
                return;
            }

            if (this.carts != null && this.carts.length > 0) {
                this.$swal.fire({
                    title: 'Success',
                    text: `Checkout Berhasil! Barang akan segera dikirim`,
                    icon: 'success',
                    timer: 5000
                });
                let uri = '/api/cart/checkout';
                this.axios.post(uri, transaksi).then((response) => {
                    this.carts = [];
                    let $counter = document.getElementById("counter");
                    $counter.innerHTML = '0';
                })
                return true;
            } else {
                this.errors.push('Checkout bermasalah');
                return;
            }

            e.preventDefault();
        }
    }
  }
</script>