<style>
    .product .card-text {
        color: rgb(250, 89, 29);
    }
</style>

<template>
    <div class='container py-4'>
        <div class='row justify-content-center'>
            <div class='col-12'>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item">
                            <router-link :to="{ name: 'home' }" class="breadcrumb-item">Home</router-link>
                        </li>
                        <li class="breadcrumb-item active">{{ kategori.judul }}</li>
                        <li class="breadcrumb-item active" aria-current="page">{{ product.namaProduk }}</li>
                    </ol>
                </nav>
            </div>
            <div class='col-12'>
                <div class="alert alert-danger" v-if="errors.length">
                    <b v-for="error in errors" :key="error">{{ error }}</b>
                </div>

                <div class='card border-0'>
                    <div class='card-body'>
                        <div class="row">
                            <div class="col-4">
                                <img class="card-img-top" :src="product.image" alt="">
                            </div>    
                            <div class="col-8">
                                <h3>{{ product.namaProduk }}</h3>
                                <h5>{{ product.priceCurrency }}</h5>
                                <p>
                                    <span>Berat: {{ product.weight }} Gram</span>
                                    <br>
                                    <br>
                                    {{ product.deskripsiProduk }}
                                </p>
                                <form @submit.prevent="addToCart">
                                    <div class='form-group' style="width:120px;">
                                        <!-- <label htmlFor='quantity' class="text-muted">Jumlah</label> -->
                                        <div class="input-group">
                                            <input type="number" class="form-control" id="quantity" v-model="quantity" value="0" min="0">
                                            <div class="input-group-append">
                                                <button class='btn btn-primary'>Beli</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                product:{},
                kategori:{},
                errors: [],
                quantity: 0,
            }
        },
        created() {
            let uri = `/api/product/get/${this.$route.params.id}`;
            this.axios.get(uri).then((response) => {
                let obj = response.data;
                let product = response.data.product;
                product.image = ((product.image != undefined && product.image.length > 0) ? product.image : 'https://via.placeholder.com/300/F5F5F5/aaa?text=No%20Image');
                product.priceCurrency = product.price.toLocaleString('ID', {
                    style: 'currency',
                    currency: 'IDR',
                    maximumFractionDigits: 0
                });
                this.product = product;
                this.kategori = response.data.kategori;
            });
        },
        methods: {
            addToCart(e){
                let cart = {
                    produk_id: this.product.id,
                    qty: parseInt(this.quantity),
                    price: this.product.price
                };

                this.errors = [];
 
                if (!this.quantity || this.quantity <= 0) {
                    this.errors.push('Jumlah tidak boleh kosong!');
                    return;
                }

                if (cart.produk_id != null && cart.price != null && cart.quantity != 0) {
                    this.$swal.fire({
                        title: 'Success',
                        text: `Produk ${this.product.namaProduk} Berhasil Ditambahkan`,
                        icon: 'success',
                        timer: 3000
                    })
                    let uri = '/api/cart/upsert';
                    this.axios.post(uri, cart).then((response) => {
                        let $counter = document.getElementById("counter");
                        let count = parseInt($counter.textContent);
                        $counter.innerHTML = count + cart.qty;
                        // this.$router.push({ name: 'detail', params: { id: this.product.id }});
                    });
                    return true;
                } else {
                    this.errors.push('Produk bermasalah');
                    return;
                }
 
                e.preventDefault();
            }
        }
    }
</script>