<style>
    .product {
        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
        border-radius: 8px;
        overflow:hidden;
        height: 100%;
    }
    .product .card-title {
        color: rgb(0, 0, 0, 0.7);
    }
    .product .card-text {
        color: rgb(250, 89, 29);
    }
</style>

<template>
    <div class='container py-4'>
        <div class="row" style="margin-left:-6px; margin-right:-6px;">
            <div class="col-3" v-for="(product, index) in products" :key="product.id" style="padding-left:6px; padding-right:6px; margin-bottom: 12px;">
                <router-link :to="{ name: 'detail', params: { id: product.id }}" class="text-decoration-none">
                    <div class="card product">
                        <img class="card-img-top" :src="product.image" alt="">
                        <div class="card-body p-3">
                            <strong class="card-title m-0">{{ product.namaProduk }}</strong>
                            <p class="card-text">{{ product.priceCurrency }}</p>
                        </div>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>
 
<script>
  export default {
      data() {
        return {
          products: [],
        }
      },
      created() {
        this.axios.get('api/product/getAll').then(response => {
            response.data.map(obj => {
                obj.image = ((obj.image != undefined && obj.image.length > 0) ? obj.image : 'https://via.placeholder.com/300/F5F5F5/aaa?text=No%20Image');
                obj.priceCurrency = obj.price.toLocaleString('ID', {
                    style: 'currency',
                    currency: 'IDR',
                    maximumFractionDigits: 0
                });
                return obj;
            });
            this.products = response.data;
        });
    },
  }
</script>